// Footer

.footerContainer{
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background: #404040;
  color : #CFCFCF;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  bottom: 0;
  z-index: 999;
  .univLogo{
    height: 100%;
    margin-right: 10px;
  }
  .univInfo{
    height: 100%;
    width: 120%;
    margin-right: 10px;
    display: flex;
    font-size: 13px;
    .ulHead{
      font-weight: bold;
    }
    ul{
      padding-left: 0px;
      margin: 5px 20px;
      li{
        list-style: none;
        padding: 2px;
        span{
          &:hover{
            color: #fff;
          }
        }
      }
    }

  }
  .proInfo{
    height: 100%;
    width: 100%;
    color : #404040;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;

    .ulHead{
      font-weight: bold;
    }
    ul{
      padding-left: 0px;
      margin: 5px 5px;
      li{
        list-style: none;
        span{
          &:hover{
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
  }