////// Default Page //////
.main {
    display: flex;
    height: 78vh;
    width: 100%;
    padding: 10px;
    position: relative;
    overflow: scroll;
    z-index : 10;

    .component{
        display: inline-block;
        width: 15%;
        margin-top: 10px;
    }
    .content{
        position: relative;
        margin-top: 10px;
        height: 10%;
        width:65%;
        .contentTop{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            .searchContainer{
                width: 70%;
                select{
                    margin-right: 5px;
                    padding: 5px;
                    border-radius: 15px;
                }
                input{
                    margin-right: 5px;
                    width: 30%;
                    padding: 5px;
                    border-radius: 15px;
                }
                button{
                    padding: 5px;
                    border-radius: 15px;
                }
            }
        }
        .pageTitle{
            width: 20%;
            font-weight: bold;
            font-size: 1.2rem;
            margin: 10px 0px;
        }
        .boardTable{
            height: 100%;
            width: 100%;
            border-bottom: 1px solid black ;
            border-top: 1px solid black;
            border-collapse: collapse;
            thead{
                tr{
                    th{
                        border-bottom: 3px double black;
                        padding: 5px;
                        //border-right: 1px solid gray;
                        &:not(:nth-child(2)){
                            width: 20%;
                        }
                    }
                }
            }
            tbody{
                text-align: center;
                tr{
                    border-bottom: 1px dashed gray;
                    td{
                        padding: 10px;
                    }
                }
            }
        }
        .contentBottom{
            display: grid;
            grid-template-columns: 7fr 1fr;
            align-items: center;
            .pagination{
                display: flex;
                justify-content: center;
                padding: 10px;
                div{
                    padding: 5px;
                    button{
                        border: none;
                        border-radius: 30px;
                        padding: 5px;
                        font-size: 1rem;
                        font-weight: bold;
                        background-color: #fff;
                        &:hover{
                            background-color: #821225;
                            color: #fff;
                        }
                        &:focus{
                            background-color: #821225;
                            color: #fff;
                        }

                    }
                }
            }
            .btnContainer{
                button{
                    padding: 5px;
                    background: #fff;
                    &:hover{
                        background: #821225;
                        color: #fff;
                    }
                }
            }
        }
        .btnContainer{
            button{
                padding: 5px;
                background-color: #fff;
                margin: 5px 5px;
                &:hover{
                    background-color: #821225;
                    color: #fff;
                }
            }
        }
    }
}

////// Post Page //////
.postingTable{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid black ;
    border-top: 1px solid black;
    border-collapse: collapse;
    tbody{
        tr{
            border-bottom: 1px solid black;
            td{
                padding: 10px;
                &:first-child{
                    height: 40px;
                }
                .titleText{
                    width: 100%;
                    resize: none;
                    padding: 5px;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                }
                .bodyText{
                    width: 100%;
                    border: none;
                    outline: none;
                    resize : none;
                    height: 30vh;
                }
            }
        }
    }
}
////// Detail Page //////
.detailTable{
    //background: #0070f3;
    height: 50%;
    width: 100%;
    border-bottom: 1px solid black ;
    border-top: 1px solid black;
    border-collapse: collapse;
    tbody{
        height: 100%;
        .detailBody{
            height: 35vh;
        }
        tr{
            border-bottom: 1px solid black;
            td{
                padding: 10px;
                &:first-child{
                    height: 40px;
                    resize: none;
                }
            }
        }
    }
}
.commentContainer{
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    .postingComment{
        //background: #0070f3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
        .commentUser{
            margin : 0px 5px;
        }
        .typingComment{
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            textarea{
                width: 100%;
                height: 80%;
                border: none;
                resize: none;
                outline: none   ;
            }
        }
        .commentBtn{
            height: 100%;
            width: 5%;
            text-align: center;
            button{
                padding: 5px;
                background-color: white;
                border: none;
                text-align: center;
                a:hover{
                    color: #821225;
                    font-weight: bold;
                }
                Fisend{
                padding: 5px;
            }
            }
        }
    }
}
.commentList{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-top: 1px solid gainsboro;
    .commentBox{
        display: flex;
        width: 100%;
        .commentId{
            margin : 0px 5px;
            padding: 5px;
        }
        .comment{
            width: 85%;

            padding: 5px;
        }
        .reComment{
            width: 10%;

            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
            padding : 5px
        }

    }
    .reply{
        margin-left: 15px;
        display: flex;
        align-items: center;
        height: 100%;
        background-color: gainsboro;
        padding: 5px;
        textarea{
            border: none;
            background-color: gainsboro;
            width: 95%;
            resize: none;
            outline: none;
        }
        button{
            padding: 5px;
            background-color: gainsboro;
            border: none;
            text-align: center;
            height: 100%;
            width: 5%;
        }
    }
}
.commentReply{
    //background-color: #821225;
    margin-left: 20px;
}
////// Message //////
.msgBox{
    display: flex;
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    .msgList{
        border-right: 1px solid black;
        width: 30%;
        height: 100%;
        overflow: scroll;
        .myNickname{
            padding: 10px;
            display: flex;
            align-items: center;
            height: 6vh;
            border-bottom: 1px solid black;
        }
        .receiveList{
            //height: 50vh;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 10px;
            overflow: scroll;
            border-bottom: 1px dashed gray;
            &:hover{
                background-color: gainsboro;
            }
            .receivePhoto{
                padding: 10px;
                margin-right: 10px;
            }
            .receiveOpponent{
                width: 100%;
                padding: 10px;
                .receiveInfo{
                    font-weight: bold;
                }
                .receiveMsg{

                }
            }
        }
    }
    .msgDetail{
        width: 70%;
        height: 60vh;
        .opponentNickname{
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            height: 6vh;
            .receivePhoto{
                padding: 10px;
                margin-right: 10px;
            }
            .receiveInfo{
                font-weight: bold;
            }
        }
        .msgChatBox{
            position: relative;
            height: 80%;
            .opponentChat{
                display: flex;
                align-items: center;
                padding: 10px;
                .receivePhoto{
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 30px;
                    margin-right: 10px;
                }
                .ChatMsg{
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 20px;
                    font-size: 0.8rem;
                }
            }
            .myChat{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                padding: 10px;
                .myPhoto{
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 30px;
                    margin-left: 10px;
                }
                .ChatMsg{
                    border: 1px solid black;
                    padding: 10px;
                    border-radius: 20px;
                    font-size: 0.8rem;
                }
            }
        }
        .typingMsg{
            display: flex;
            width: 100%;
            .typingChat{
                width: 90%;
                height: 100%;
                border-top: 1px solid gray;
                textarea{
                    padding: 5px;
                    width: 100%;
                    resize: none;
                    outline: none;
                    border: none;
                }
            }
            .typingBtn{
                padding: 5px;
                border-top: 1px solid gray;
                width: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    width: 80%;
                    height: 80%;
                    padding: 5px;
                    background-color: white;
                    border: none;
                    font-size: 0.8rem;
                    a:hover{
                        color: #821225;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

////// Side Module //////
.Side {
    border: 1px solid black;
    width: 180px;
    position: sticky;
    top: 0px;
    .login {
        text-align: center;
        padding: 10px;
        border-bottom: 1px dotted black;
    }
    input {
        padding: 5px;
        margin-top: 5px;
    }
    button {
        padding: 5px;
        margin-top: 5px;
    }
    .sideItem {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sideDetail {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .item {
        border-bottom: 1px solid black;
        padding: 5px;
        &:hover {
            background: #fff5f5 ;
        }
    }
}