.header{
    //background: #fff5f5;
    background: #821225;
    color: #fff;
    height: 110px;
    align-items: center;
    position: sticky;
    font-size: 1.2rem;
    top : 0;
    padding: 15px;
}
.logo {
    font-size: 2rem;
    align-items: center;
    display: flex;
    position: relative;
    right: -50%;
    margin-bottom: 20px;
}
.menu_noclick {
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        &:hover{
            border-bottom: 2px solid #fff;
        }
    }
}
.menu_click {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon {
    position: absolute;
    top:-20px;
    //display: none;

}
@media screen and (max-width:960px) {

    .logo {
        font-size: 2rem;
        align-items: center;
        display: flex;
        position: relative;
        top: 20px;
        margin-bottom: 10px;
    }
    .icon {
        display: block;
        position: absolute;
        top: 35px;
        right: 50px;
        width: 35px;
        height: 28px;
        font-size: 30px;
        z-index: 999;
    }
    .icon_click{
        display: block;
        position: absolute;
        top: 35px;
        right: 50px;
        width: 35px;
        height: 28px;
        font-size: 30px;
        z-index: 999;
        color : #821225;
    }
    .menu_noclick {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
    }
    .menu_click {
        display: flex;
        flex-direction: column;
        left: 0%;
        transition: all 1s ease;
        width: 100%;
        background: #fff;
        color : #821225;
        position: absolute;
        top: 0;
        height: 200%;
        z-index: 998;

        div {
            width: 30%;
            align-items: center;
            text-align: center;
            padding: 10px;
            border-radius: 40px;
            &:hover{
                background: #821225;
                color : #fff;
            }
        }
    }
}
