.Side {
    border: 1px solid black;
    width: 180px;
    .login {
        text-align: center;
        padding: 10px;
        border-bottom: 1px dotted black;
    }
    input {
        padding: 5px;
        margin-top: 5px;
    }
    button {
        padding: 5px;
        margin-top: 5px;
    }
    .sideItem {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sideDetail {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .item {
        border-bottom: 1px solid black;
        padding: 5px;
        &:hover {
            background: #fff5f5 ;
        }
    }
}