* {
    z-index: 990;
}

// 메인 페이지
.main {
    display: flex;
    position: relative;
    z-index: 10;
    width: 100%;

}
.component {
    margin-left: 20px;
    height: 150px;
    margin-right: 20px;
    position: relative;
    top: 120px;
}
.content {
    width: 75%;
    position: relative;
}
table {
    height: 50px;
    width: 100%;
}
.contentBox {
    table-layout: fixed;
    border-top: 1px solid black;
    padding: 10px 5px;
    tr {
        padding: 10px;
    }
    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px dotted black;
    }
}
.search {
    position: relative;

    margin-bottom: 10px;
    .inputText {
        margin-right: 10px;
        margin-left: 10px;
    }
}

// Side

.Side {
    border: 1px solid black;
    width: 180px;
    .login {
        text-align: center;
        padding: 10px;
        border-bottom: 1px dotted black;
    }
    input {
        padding: 5px;
        margin-top: 5px;
    }
    button {
        padding: 5px;
        margin-top: 5px;
    }
    .sideItem {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sideDetail {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .item {
        border-bottom: 1px solid black;
        padding: 5px;
        &:hover {
            background: #fff5f5 ;
        }
    }
}
// board
.free {
    display: flex;
    position :relative;
}
.market {
  display : flex;
  position: relative;
}
.study {
  display: flex;
  position: relative;
}
.posting {
    display: flex;
    position: relative;
}
.component {
    margin-left : 20px;
    height : 150px;
    margin-right : 20px;
    /* background : gray; */
    position: relative;
    top : 120px
}

table{
    width :  1000px;
}
.contentBox {
    table-layout : fixed;
    /* width : 750px */
    border-top : 1px solid black;
    /* border-bottom : 1px solid black; */
    padding : 10px 5px;

}
tr {
    padding: 10px;
}

td {
    padding: 10px;
    text-align : center;
    border-bottom : 1px dotted black;
}
.write {
    position: relative;
    float : right;
    right : 7px;
    border : 1px solid black;
    width : 60px;
    text-align : center;
    padding: 5px;
}
.write:hover {
    background: black;
    color : white;
}
.search {
    position: relative;
    /* left : 950px; */

}
.inputText {
    margin-right : 10px;
    margin-left : 10px;
}
// board-detail
.detail {
    display: flex;
    position :relative;
}
.component {
    margin-left : 20px;
    height : 150px;
    margin-right : 20px;
    /* background : gray; */
    position: relative;
    top : 120px
}
table {
    position: sticky;
    box-sizing :  border-box;
    border-top : 1px solid black;
    width: 1000px;
    height : 150px;
    padding: 5px;
}
table > .tableFirst {
    /* background: gray; */
    text-align : center;

}
table > .tableFirst >th{
    width : 100px;
}
table > .tableFirst >td{
    width : 100px;
}
.tableFourth {

    height : 200px;
}
.button {
    //position: relative;
    //left : 50%;
    //right : -50%;
    //right : 7px;
    //border : 1px solid black;
    //width : 80px;
    //text-align : center;
    //padding: 5px;
}
.button:hover {
    background: black;
    color : white;
}

//board write
textarea {
    resize: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}
.back{
    align-content: center;
    text-align: center;
    display: block;
    position: relative;
    top: 400px;
    right:200px;
    height: 30px;
    width: 60px;
    &:hover {
        background: black;
        color: white;
    }
}


// Pagination
.pagination {
    .paginationUl{
        display: flex;
        list-style: none;
        justify-content: space-around;
        .pageItem {
            .pageLink {
                padding: 10px;
                background: #fff5f5;
                border: none;
                border-radius: 10px;
                &:hover{
                    background: black;
                    color: #fff5f5;
                }
            }
        }
    }
}
